@import "./utils.scss";


body {
    margin: 0;
    background-color: $white__color;
  }
  
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  
    h1 {
      color: $black__color;
      font-size: 7rem;
      margin: 0;
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 2rem;
      margin: 0;
      color: $black__color;
    }
  
    button {
      background: transparent;
      border: 2px solid $black__color;
      text-align: center;
      font-size: 22px;
      font-family: inherit;
      font-weight: bold;
      border-radius: 15px;
      padding: 10px 25px;
      cursor: pointer;
      margin: 0 10px;
      transition: all 0.05s ease-in-out;
  
      &.minus {
        background-color: #e63946;
        color: $white__color;
      }
  
      &.plus {
        background-color: $blue__color;
        color: $white__color;
      }
  
      &:hover {
        transform: translateY(-2px);
      }
  
      &:active {
        transform: translateY(2px);
      }
    }
  }
  